<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>MOSFET</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/13.1.1/math.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .overlay {
            position: absolute;
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <section class="hero" id="app" v-cloak>
        <div class="hero-body has-background-dark">
            <div class="container center">
                <h1 class="title has-text-white">MOSFET</h1>
            </div>
            <div class="block"></div>
            <div class="block center has-background-grey" style="height: 6em">
                <p class="has-text-white">
                \( \text{N-MOS} \begin{cases}
                v_{GS} \lt V_{tn}, \qquad \text{cutoff} \\
                v_{GS} = V_{tn} + v_{OV} \begin{cases}
                    v_{GD} \gt V_{tn},\quad v_{DS} \lt v_{OV},\quad i_D = k'_n\frac{W}{L}(v_{OV} - v_{DS}/2)v_{DS} \\
                    v_{GD} \leq V_{tn},\quad v_{DS} \geq v_{OV},\quad i_D = \frac{1}{2}k'_n\frac{W}{L}(v_{GS}-V_{tn})^2
                    \end{cases}\end{cases}
                \)
                </p>
            </div>
            <div class="block has-background-grey">
                <div class="columns">
                    <div class="column center has-text-white">
                        <span>N-MOS: \( \quad V_T = {{ n_Vt }}\text{V},\; k_p= {{ k.n }}\frac{\text{A}}{\text{V}^2} \)</span>
                    </div>
                    <div class="column has-text-white">Vgs <input type="range" name="VgsSlider" id=vgs-slider min="10" max="100" @change="updateN" v-model="n_dVgs"/>
                        &nbsp; {{ n_Vgs }} V <span>\( \quad\Rightarrow\quad V_{OV} = v_{GS} - V_T = \)</span> {{ Vov.n.toFixed(2) }} V
                    </div>
                    <div class="column has-text-white">Vds <input type="range" name="VdsSlider" id=vds-slider min="10" max="100" @change="updateN" v-model="n_dVds"/>
                        &nbsp; {{ n_Vds }} V <span>\( \qquad I_{DQ} = \)</span>{{ n_Id.toFixed(4) }} A
                    </div>
                </div>
            </div>
            <div class="block"></div>
            <div class="columns has-background-white">
                <div class="column"></div>
                <div class="column" id="ax1"></div>
                <div class="column"></div>
            </div>
            <div class="block center has-background-grey" style="height: 6em">
                <p class="has-text-white">
                \( \text{P-MOS} \begin{cases}
                v_{GS} \gt V_{tp} \;\equiv\; v_{SG} \lt |V_{tp}|, \qquad \text{cutoff} \\
                v_{SG} = |V_{tp}| + |v_{OV}| \begin{cases}
                    v_{DG} \gt |V_{tp}|,\quad v_{SD} \lt |v_{OV}|,\quad i_D = k'_n\frac{W}{L}(|v_{OV}| - v_{SD}/2)v_{SD} \\
                    v_{DG} \leq |V_{tp}|,\quad v_{SD} \geq |v_{OV}|,\quad i_D = \frac{1}{2}k'_n\frac{W}{L}(v_{SG}-|V_{tn}|)^2
                    \end{cases}\end{cases}
                \)
                </p>
            </div>
            <div class="block has-background-grey">
                <div class="columns">
                    <div class="column center has-text-white">
                        <span>P-MOS: \( \quad V_T = {{ p_Vt }}\text{V},\; k_p= {{ k.p }}\frac{\text{A}}{\text{V}^2} \)</span>
                    </div>
                    <div class="column center has-text-white">
                        <input type="checkbox" id="pos" name="pos" v-model="test" checked /><label for="pos">Positive V</label>
                    </div>
                    <div class="column has-text-white">
                        {{ (modeP===true) ? 'Vsg' : 'Vgs' }}<input type="range" name="VsgSlider" id=vsg-slider min="10" max="100" @change="updateP" v-model="p_dVgs"/>
                        &nbsp; {{ (modeP===true) ? -1.0*p_Vgs : p_Vgs }} V <span>\( \quad\Rightarrow\quad V_{OV} = v_{GS} - |V_T| = \)</span>
                        {{ (modeP===true) ? -1.0*Vov.p.toFixed(2) : Vov.p.toFixed(2) }} V
                    </div>
                    <div class="column has-text-white">
                        {{ (modeP===true) ? 'Vsd' : 'Vds' }}<input type="range" name="VsdSlider" id=vsd-slider min="10" max="100" @change="updateP" v-model="p_dVds"/>
                        &nbsp; {{ (modeP===true) ? -1.0*p_Vds : p_Vds }} V <span>\( \qquad I_{DQ} = \)</span>{{ p_Id.toFixed(4) }} A
                    </div>
                </div>
            </div>
            <div class="block"></div>
            <div class="columns has-background-white">
                <div class="column"></div>
                <div class="column" id="ax2"></div>
                <div class="column"></div>
            </div>
        </div>
    </section>
    <script>
        "use strict"
        let app = Vue.createApp({
            data(){
                const margin = { top: 30, right: 30, bottom: 30, left: 50 };
                return {
                    k: { n:0.005, p:0.005 },
                    n_Vt: 1, p_Vt: -1,
                    modeP: true,
                    n_dVgs: 20, p_dVgs: 20, // decade for the slider
                    n_dVds: 30, p_dVds: 30,
                    n_Vgs: 0.2, p_Vgs: -0.2,
                    n_Vds: 0.3, p_Vds: -0.3,
                    Vov: { n:0, p:0 },
                    test: {},
                    n_Id: 0, p_Id: 0,
                    n_sVgs: "",
                    n_svg: {}, p_svg: {},
                    n_x: {}, p_x: {},
                    n_y: {}, p_y: {},
                    n_sweepVds: [], p_sweepVds: [],
                    n_pathIdVds: {}, p_pathIdVds: {}, // D3 trace (plot): Id vs Vds
                    n_pathVov: {}, p_pathVov: {},
                    n_textVov: {}, p_textVov: {},
                    n_circleQ: {}, p_circleQ: {},
                    margin: { top: 30, right: 30, bottom: 30, left: 50 },
                    width: 500 - margin.left - margin.right,
                    height: 350 - margin.top - margin.bottom,
                }
            },
            methods: {
                getId(Vds=null, ch='n'){
                    let sweep, filterA, filterB, m=1.0;
                    if(ch==='n'){
                        sweep = this.n_sweepVds;
                        filterA = (x) => x < this.Vov[ch];
                        filterB = (x) => x >= this.Vov[ch];
                    } else {
                        sweep = this.p_sweepVds;
                        if (this.modeP===true) m = -1.0;
                        filterA = (x) => x >= this.Vov[ch];
                        filterB = (x) => x < this.Vov[ch];
                    }
                    if(Vds === null){
                        let IdA = sweep.filter(filterA).map(x => [m*x, m*this.k[ch]*(m*this.Vov[ch] - m*0.5*x)*x]);
                        let IdB = sweep.filter(filterB).map(x => [m*x, 0.5*this.k[ch]*(this.Vov[ch])**2]);
                        let Id;
                        if(ch==='n')
                            Id = IdA.concat(IdB);
                        else
                            Id = IdB.concat(IdA);
                        return Id;
                    } else {
                        if((ch==='n' && Vds < this.Vov[ch]) || (ch==='p') && Vds >= this.Vov[ch])
                            return m*this.k[ch]*(m*this.Vov[ch] - m*0.5*Vds)*Vds;
                        else
                            return 0.5*this.k[ch]*(this.Vov[ch])**2;
                    }
                },
                initD3(){
                    // Based on https://d3-graph-gallery.com/graph/density_slider.html
                    this.n_sweepVds = d3.range(0, 10, 0.01);
                    this.p_sweepVds = d3.range(-10, 0, 0.01);
                    
                    // N-MOS
                    this.n_svg = d3.select("#ax1")
                        .append("svg")
                        .attr("width", this.width + this.margin.left + this.margin.right)
                        .attr("height", this.height + this.margin.top + this.margin.bottom)
                        .append("g")
                        .attr("transform", "translate(" + this.margin.left + "," + this.margin.top + ")");
                    this.n_x = d3.scaleLinear()
                        .domain([0, 10.0])
                        .range([0, this.width]);
                    this.n_svg.append("g")
                        .attr("transform", "translate(0," + this.height + ")")
                        .call(d3.axisBottom(this.n_x));
                    this.n_y = d3.scaleLinear()
                        .range([this.height, 0])
                        .domain([0, 0.2]);
                    this.n_svg.append("g").call(d3.axisLeft(this.n_y));

                    this.n_pathIdVds = this.n_svg
                        .append("g").append("path")
                        .datum(this.getId())
                        .attr("fill", "none")
                        .attr("stroke", "#000").attr("stroke-width", 2).attr("stroke-linejoin", "round")
                        .attr("d",  d3.line()
                            .x(d => this.n_x(d[0]))
                            .y(d => this.n_y(d[1]))
                            .curve(d3.curveBasis))
                    this.n_pathVov = this.n_svg
                        .append("g").append("path")
                        .data([[[this.Vov.n, 0], [this.Vov.n, 0.2]]])
                        .attr("opacity", ".8")
                        .attr("fill", "none")
                        .attr("stroke", "#000").attr("stroke-width", 1).attr("stroke-linejoin", "round")
                        .attr("stroke-dasharray", "0 4 0")
                        .attr("d",  d3.line()
                            .x(d => this.n_x(d[0]))
                            .y(d => this.n_y(d[1]))
                            .curve(d3.curveBasis));
                    this.n_textVov = this.n_svg
                        .append("text")
                        .data([[this.Vov.n]])
                        .attr("x", (d => this.n_x(d)))
                        .attr("y", this.height + 30)
                        .text("Vov")

                    this.n_circleQ = this.n_svg
                        .append("g").append("circle")
                        .attr("fill", "#f00")
                        .attr("stroke", "#000").attr("stroke-width", 1)
                        .attr("r", "5")
                        .attr("cx", this.n_x(0))
                        .attr("cy", this.n_y(0))
                    
                    this.n_svg.append("text")
                        .attr("class", "x label")
                        .attr("text-anchor", "end")
                        .attr("x", this.width + 10)
                        .attr("y", this.height + 30)
                        .text("Vds");
                    this.n_svg.append("text")
                        .attr("class", "y label")
                        .attr("text-anchor", "end")
                        .attr("x", -35)
                        .attr("y", 20)
                        .text("Id");

                    // P-MOS
                    this.p_svg = d3.select("#ax2")
                        .append("svg")
                        .attr("width", this.width + this.margin.left + this.margin.right)
                        .attr("height", this.height + this.margin.top + this.margin.bottom)
                        .append("g")
                        .attr("transform", "translate(" + this.margin.left + "," + this.margin.top + ")");
                    this.p_x = d3.scaleLinear()
                        .domain([0, 10.0])
                        .range([0, this.width]);
                    this.p_svg.append("g")
                        .attr("transform", "translate(0," + this.height + ")")
                        .call(d3.axisBottom(this.p_x));
                    this.p_y = d3.scaleLinear()
                        .range([this.height, 0])
                        .domain([0, 0.2]);
                    this.p_svg.append("g").call(d3.axisLeft(this.p_y));

                    this.p_pathIdVds = this.p_svg
                        .append("g").append("path")
                        .datum(this.getId())
                        .attr("fill", "none")
                        .attr("stroke", "#000").attr("stroke-width", 2).attr("stroke-linejoin", "round")
                        .attr("d",  d3.line()
                            .x(d => this.p_x(d[0]))
                            .y(d => this.p_y(d[1]))
                            .curve(d3.curveBasis))
                    this.p_pathVov = this.p_svg
                        .append("g").append("path")
                        .data([[[this.Vov.p, 0], [this.Vov.p, 0.2]]])
                        .attr("opacity", ".8")
                        .attr("fill", "none")
                        .attr("stroke", "#000").attr("stroke-width", 1).attr("stroke-linejoin", "round")
                        .attr("stroke-dasharray", "0 4 0")
                        .attr("d",  d3.line()
                            .x(d => this.p_x(d[0]))
                            .y(d => this.p_y(d[1]))
                            .curve(d3.curveBasis));
                    this.p_textVov = this.p_svg
                        .append("text")
                        .data([[this.Vov.p]])
                        .attr("x", (d => this.p_x(d)))
                        .attr("y", this.height + 30)
                        .text("Vov")

                    this.p_circleQ = this.p_svg
                        .append("g").append("circle")
                        .attr("fill", "#f00")
                        .attr("stroke", "#000").attr("stroke-width", 1)
                        .attr("r", "5")
                        .attr("cx", this.p_x(0))
                        .attr("cy", this.p_y(0))
                    
                    this.p_svg.append("text")
                        .attr("class", "x label")
                        .attr("text-anchor", "end")
                        .attr("x", this.width + 10)
                        .attr("y", this.height + 30)
                        .text("Vsd");
                    this.p_svg.append("text")
                        .attr("class", "y label")
                        .attr("text-anchor", "end")
                        .attr("x", -35)
                        .attr("y", 20)
                        .text("Id");
                },
                updateN(){
                    this.n_Vgs = this.n_dVgs/10.0;
                    //this.n_sVgs = math.format(this.n_Vgs, { notation: 'engineering' });
                    this.n_Vds = this.n_dVds/10.0;
                    this.Vov.n = this.n_Vgs - this.n_Vt;
                    this.n_Id = this.getId(this.n_Vds);
                    this.n_pathIdVds
                        .datum(this.getId())
                        .transition().duration(100)
                        .attr("d",  d3.line()
                            .x(d => this.n_x(d[0]))
                            .y(d => this.n_y(d[1]))
                            .curve(d3.curveBasis))
                    this.n_pathVov
                        .data([[[this.Vov.n, 0], [this.Vov.n, 0.2]]])
                        .transition().duration(100)
                        .attr("d",  d3.line()
                            .x(d => this.n_x(d[0]))
                            .y(d => this.n_y(d[1]))
                            .curve(d3.curveBasis))
                    this.n_textVov
                        .data([[this.Vov.n]])
                        .attr("x", (d => this.n_x(d)))
                    this.n_circleQ
                        .data([[this.n_Vds, this.getId(this.n_Vds)]])
                        .transition().duration(100)
                        .attr("cx", (d => this.n_x(d[0])))
                        .attr("cy", (d => this.n_y(d[1])))
                },
                updateP(){ /* TODO: reuse code */
                    this.p_Vgs = -1.0*this.p_dVgs/10.0;
                    this.p_Vds = -1.0*this.p_dVds/10.0;
                    this.Vov.p = this.p_Vgs - this.p_Vt;
                    this.p_Id = this.getId(this.p_Vds, 'p');
                    this.p_pathIdVds
                        .datum(this.getId(null, 'p'))
                        .transition().duration(100)
                        .attr("d",  d3.line()
                            .x(d => this.p_x(d[0]))
                            .y(d => this.p_y(d[1]))
                            .curve(d3.curveBasis))
                    const Vov = (this.modeP===true) ? -1.0*this.Vov.p : this.Vov.p;
                    this.p_pathVov
                        .data([[[Vov, 0], [Vov, 0.2]]])
                        .transition().duration(100)
                        .attr("d",  d3.line()
                            .x(d => this.p_x(d[0]))
                            .y(d => this.p_y(d[1]))
                            .curve(d3.curveBasis))
                    this.p_textVov
                        .data([[Vov]])
                        .attr("x", (d => this.p_x(d)))
                    const Vds = (this.modeP===true) ? -1.0*this.p_Vds : this.p_Vds;
                    this.p_circleQ
                        .data([[Vds, this.p_Id]])
                        .transition().duration(100)
                        .attr("cx", (d => this.p_x(d[0])))
                        .attr("cy", (d => this.p_y(d[1])))
                }
            }, /* methods */
        }); /* Vue.createApp */
        const vm = app.mount('#app');

        vm.initD3();

        // TODO: wasm calculations
        //function onWasmScriptLoad(){
        //    console.log("Module is finally loaded");
        //    vm.verifyChecksum = Module.cwrap('verifyChecksum', 'number', ['string']);
        //}
    </script>
    <!--<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>-->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>